body {
    height: 100vh;
    margin: 0px;
}

.text {
    height: 15%;
    width: 100%;
    background-color: aqua;
    margin: 0px;
}

.wrapper {
    height: 75%;
}

.img {
    height: 100%;
    float:left;
    width: 80%;
}

.float {
    height: 100%;
    margin: 0px;
    background-color: aquamarine;
}

.img2 {
    height: 10%;
    width: 100%;
    display: block;
}