body {
    height: 100vh;
    margin: 0px;
}

.text {
    height: 18.75%;
    width: 100%;
    background-color: aqua;
    margin: 0px;
}

.wrapper {
    height: 50%;
}

.img {
    height: 100%;
    float:left;
    width: 75%;
}

.float {
    height: 100%;
    margin: 0px;
    background-color: aquamarine;
}

.img2 {
    height: 31.25%;
    width: 100%;
    display: block;
}