.goods-gallery {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  list-style: none;
  margin-top: 30px;
  padding: 0;
}

.goods-gallery h2 {
  width: 100%;
}
